.App {
  text-align: center;
}

/* Main Title */
.title {
  margin: 20px auto;
  font-family: 'Fredericka the Great', cursive;
  color: blue;
  font-size: 50px;
  font-weight: 700;
  -webkit-text-shadow: 0px 4px 7px rgba(150, 150, 150, 1);
  text-shadow: 0px 4px 7px rgba(150, 150, 150, 1);
}

/* All Forms */
.form {
  width: 800px;
  margin: 30px auto;
  padding: 40px;
  border: 1px solid blue;
  border-radius: 8px;
  -webkit-box-shadow: 0px 2px 4px 2px rgba(0,0,0,.4);
  box-shadow: 0px 2px 4px 2px rgba(0,0,0,.4);
}

/* All Render Result Display */
.renderResultDisplay {
  margin: 30px auto;
  padding: 10px;
  width: 800px;
  border: 1px solid blue;
  border-radius: 8px;
  -webkit-box-shadow: 0px 2px 4px 2px rgba(0,0,0,.4);
  box-shadow: 0px 2px 4px 2px rgba(0,0,0,.4);
}

.displayTitle {
  margin: 20px auto 5px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: blue;
  -webkit-text-shadow: 0px 4px 7px rgba(150, 150, 150, 1);
  text-shadow: 0px 4px 7px rgba(150, 150, 150, 1);
}

.displayText {
  padding: 0 20px;
  text-align: left;
  font-weight: 700;
}

.displayText span {
  font-weight: normal;
  padding: 0 20px 0 10px;
}

/* Renting Form */
/* Calendar */
.calendar {
  margin: 30px auto;
  border-radius: 8px;
  -webkit-box-shadow: 0px 2px 4px 2px rgba(0,0,0,.4);
  box-shadow: 0px 2px 4px 2px rgba(0,0,0,.4);

}

/* Rental History */
.historyFilterBtn {
  margin: 20px 30px
}